* {
    box-sizing: border-box;
    
}

@font-face {
    font-family: bahman;
    src: url("https://fingercoder.ir/assets/fonts/bahman font/Bahman 1.ttf"),
    url("https://fingercoder.ir/assets/fonts/bahman font/Bahman 2.ttf");

}
@font-face {
    font-family: estedad;
    src: url("https://fingercoder.ir/assets/fonts/Estedad-v7.3/webfonts/statics/Estedad-Black.woff2");
}
body {
    background-color: white;
    direction: rtl;
    margin: 0;
    font-family: Vazirmatn, sans-serif !important;
}


.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.navbar img {
    margin-right: 30px;
    
}

.navbar {
    height: 100px;
    position: relative !important;
    width: 100%;
    padding: 0 !important;
    overflow: hidden;
    background-color: #262f2d; 
    
}

.navbar ul{
    padding: 0;
    position: absolute;
    right: 10%;
    margin: 0;
}
.navbar ul li{
    display: inline-block;

}

.navbar ul li{
    margin-left: 20px ;
    
}

.navbar ul li a {
    font-family: estedad !important;
    font-size: 24px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
.navbar ul li a:hover{
    color:#02C39A;
}
.navbar img {
    max-width: 100%;
    width: 60px;
}


.slider {
    position: relative;
    height: 800px;
  
   
    
}
.slider>img {
    max-width: 100%;
    width: 100%;
    height: 800px;
    filter:blur(4px) ;
    -webkit-filter:blur(4px) ;
}
.slider .slider1 {
    top: 25%;
    right: 15%;
    text-align: center;
    position: absolute;
    padding-top: 10px;
    width: 69%;
}
.slider .slider1 > h1 {
    font-size: 90px;
    color: #ffffff;
    text-shadow: 1px -1px 3px black;
    font-family: bahman ;
}
.slider .slider1 > p {
    color: #edf3f3;
    padding-top: 10px;
    font-size: 30px;
    text-shadow: 2px 0px 12px rgb(10, 9, 9);
}

.slider .slider1 a {
    text-decoration: none;
    color: #ffffff !important;
    font-size: 30px;
    font-family: estedad;
    

}
.slider .slider1 button {
    margin-top: 20px;
    width: 267px;
    height: 86px;
    border-radius: 17px;
    background-color: #02C39A; 
}
.slider .slider1 button:hover {
    background-color: #144a04; 
    
}

.clear {
    clear: both;
}

/*  evnt */
hr{
   margin: 4px 0;
}
.team{
    position: relative;
}
.team > h3 {
    position: absolute;
    top: 0;
    text-align: center;
    font-family: estedad;
    font-size: 80px;
    color: #02C39A;
    padding: 10px;
    
}
.team>img {
    max-width: 100%;
    width: 100%;
    height: 800px;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.team>p {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 10px 1px 10px rgb(0, 0, 0);
    font-family: estedad;
    position: absolute;
    top: 140px;
    padding: 0 40px;
}

.event {
    background-color: #dfe1df;
}
.event > p {
    text-shadow: black  ;
    text-align: center;
    font-family: estedad;
    font-size: 40px;
    color: #02C39A;
    padding: 10px 0;
    
}
.event .eventpost{
    position: relative;
  
    width: 720px;
    margin: 0 auto;
}
.event .eventpost h4 {
    text-align: center;
    font-family: bahman;
    font-size: 35px;
    padding-top: 10px;
    color: #144a04;

}
.event .eventpost iframe {
    height: 200px;
}
.event .eventpost img {
    width: 100%;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 15px 15px 0 0 ;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}
.event .eventpost button {
    position: absolute;
    bottom: 440px;
    right: 230px;
    width: 243px;
    height: 42px;
    border-radius: 17px;
    background-color: #02C39A; 
    color: white;
}
.event .eventpost button:hover{
    color: black;
}
.event .eventpost a {
    font-size: 18px;
    font-family: estedad;
    
}
#myFooter {
    background-color: #262f2d !important;
}
#myFooter .row {
    background-color: #262f2d !important;
} 

/* conferance */

.teameall {
    padding: 2px;
    height: auto !important;
    
}
.teameall > p {
    font-family: estedad;
    text-align: center;
    font-size: 35px;
    text-shadow: 5px 8px 8px rgb(120, 206, 144);
    
}
.teameall .team-box {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    
}
.teameall .team-box .postteam {
    border-radius: 20px;
    background-color: #262F2D;
    margin: 0 2% 0 1%;
    width: 22%;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 15px #02C39A;
}

.teameall .team-box .postteam p{
    color: #ffffff;
}

.teameall .team-box .postteam h3{
    padding-top: 10px;
    color: #ffffff;
    font-family: bahman;
    

}
.teameall .team-box .postteam img {

    max-width: 100%;
    padding-bottom: 5%;
}
.teameall .team-box .postteam .cre{
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none !important;
    background-color: rgb(0, 9, 248);
    border-radius: 10px;
    padding: 3% 25%;
   
}
.teameall .team-box .postteam .cre:hover{
    color: rgb(42, 0, 255);
    background-color: rgb(219, 247, 247);
}


/* style scripts */

.ravesh-mini-dialog {
    width: 95% !important;
}

/* div .ravesh-mini-dialog-overlay {
    top: unset !important;
    bottom: 107px !important;
}

.ravesh-mini-dialog {
    width: 90% !important;
} */